@import url("https://cdn.w-mi.de/fonts/Overpass/Overpass.css");

* {
    font-family: "Overpass", sans-serif;
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    animation-name: background-animation;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    overflow: hidden;
}

@keyframes background-animation {
    0% {
        background-color: #064273;
    }
    25% {
        background-color: #76b6c4;
    }
    50% {
        background-color: #7fcdff;
    }
    75% {
        background-color: #1da2d8;
    }
    100% {
        background-color: #064273;
    }
}

h1 {
    display: inline-block;
    text-align: right;
    color: white;
    border-radius: 10px;
    background-color: #00000080;
    box-shadow: 0 0 5px #000000;
}

div.container {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
}

img.flippos {
    display: inline-block;
    max-width: 100vW;
}

div.container div {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    z-index: 10;
}

div.container div.right {
    justify-content: center;
    align-items: center;
}

div.container div.left {
    justify-content: center;
    align-items: flex-start;
}

img.schickenButton {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 20;
    width: 200px;
}

img.schickenButton:hover:active {
    transition: transform 150ms ease;
    transform: scale(1.1);
}

img.schickennugget {
    display: block;
    position: fixed;
    width: 50px;
    z-index: 1000;
}